<div class='home'>
	<header>
		<div class='home__chrome-label'>
			<span>This is a</span>
			<h3>Chrome<br />Experiment</h3>
		</div>
		<img class='home__logo' src="app/assets/img/logo.png" alt="ATLA Logo">
		<blockquote class='home__quote'>
			"...Is it a real or legend ?
			Oooo-oh, it's a real legend !..."
		</blockquote>
		<a href="/map" class='home__start-button'>
			<button>BEGIN</button>
		</a>
	</header>
	<footer class='home-footer'>
		<img class='home-footer__webgl' src="app/assets/img/webgl.png" alt="WebGL">
		<div class='home-footer-links'>
			<a href="/">Terms of use</a>
			<a href="#">About</a>
			<a href="#">Choose language</a>
			<a href="#">Help</a>
			<span>| All rights reserved, 2017 - {{ currentDate.getFullYear() }}.</span>
		</div>
	</footer>
</div>