.home {
	width: 100%;
	height: 100%;
	background: url(app/assets/img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -60px;
	filter: grayscale(.5);
}

.home__logo {
	margin: auto;
	display: block;
	padding-top: 30px;
}

.home__chrome-label {
	top: 30px;
	left: 15px;
	position: absolute;
}

.home__quote {
	font-size: 18px;
	margin-top: 30px;
	font-style: italic;
	text-align: center;
}

.home__start-button {
	text-decoration: none;
}

.home__start-button button {
	outline: 0;
	color: #fff;
	width: 100px;
	height: 100px;
	display: block;
	cursor: pointer;
	font-size: 11px;
	background: none;
	margin: 30px auto;
	border-radius: 50%;
	border: 3px solid #fff;
}

.home-footer {
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	position: fixed;
	padding: 0 20px;
	align-items: center;
	box-sizing: border-box;
	background: rgb(34, 33, 36);
	justify-content: space-between;
}

.home-footer-links {
	opacity: .7;
	color: #fff;
	font-size: 14px;
}

.home-footer-links a {
	color: #fff;
	padding: 0 5px;
}

.home-footer__webgl {
	opacity: .7;
}